<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div id="app">
        <div class="containerPage">

            <div class="containerLeft">

                <div class="headerLeft">

                    <div class="userReference" >
                       <img src="./img/avatar_1.jpg" alt="">
                       <h5> Giovanni </h5>
                    </div>

                    <div class="iconHeader">
                       <span class="colortext"><i class="fa-solid fa-circle-notch"></i></span>
                       <span class="center colortext"><i class="fa-solid fa-message"></i></span>
                       <span class="colortext"><i class="fa-solid fa-ellipsis-vertical"></i></span>

                    </div>

                </div>

                <div class="containerNotifiche">
                    <div class="iconmute">
                        <i class="fa-regular fa-bell-slash"></i>
                    </div>

                    <div class="textnotifiche">
                        <h6>Ricevi Notifiche di nuovi messaggi</h6>
                        <p class="colortext">Attiva notifiche desktop</p>
                    </div>

                </div>

                <div class="searchChat">
                    <input type="text" placeholder=" Cerca o inizia una nuova chat " v-model="testoRicerca" @keyup.enter="searchUser">
                </div>

                <div class="containerChat">

                    <div class="singlechat" v-for="(contact, index) in contacts"  @click="selezionachat(index)">
                        <div class="userImg">
                            <img :src= " contact.avatar" alt="">
                        </div>
                        <div class="userText">
                            <h4>{{contact.name}}</h4>
                            <p class="colortext">Ultimo messaggio inviato</p>
                        </div>
                        <div class="hours colortext">
                            <span>12:00</span>
                        </div>

                    </div>


                </div>


            </div>

            <div class="containerRight">
                <div class="headerRight">

                    <div class="headerRigtUser" >
                        <div class="userImg">
                            <img :src="contacts[contact].avatar" alt="">
                        </div>
                        <div class="userText" >
                            <h4> {{contacts[contact].name}}</h4>
                            <p class="colortext">Ultimo accesso oggi alle 12:00</p>
                        </div>
                    </div>

                    <div class="headerRightIcon">
                        <span class="colortext"><i class="fa-solid fa-magnifying-glass"></i></span>
                        <span class="center colortext"><i class="fa-solid fa-paperclip"></i></span>
                        <span class="colortext"><i class="fa-solid fa-ellipsis-vertical"></i></span>
                    </div>

                </div>
                <div class="containerMain">
                    <div v-for="element in contacts[contact].messages" :class="element.status=='sent'?'mymessage':'messagereceived'">
                        <p> {{element.message}} </p>
                        <span>12:00</span>
                       

                    </div>
                </div>


                <footer class="footerRight">
                    <div class="emoticon">
                        <span class="colortext"><i class="fa-regular fa-face-smile"></i></span>
  
                    </div>

                    <div class="textmessage">
                        <input type="text" placeholder="Scrivi un Messaggio" v-model="newMessage" @keyup.enter="creazionemessaggio">

                    </div>

                    <div class="sendvocal">
                        <span class="colortext"><i class="fa-solid fa-microphone"></i></span>

                    </div>

                </footer>

            </div>

        </div>

    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/main.js"></script>
</body>
</html>